{{define "title"}}SMS Receipt Log{{end}}
{{define "content"}}
<div class="container">
    <h1 class="text-center">SMS Receipt Log</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table_receipt_log">
            <thead>
                <tr>
                    <th class="id_receipt">#</th>
                    <th class="meta_data">Metadata</th>
                    <th class="raw_receipt">Raw Receipt</th>
                    <th class="parsed_info">Parsed info</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="id_receipt">2</td>
                        <td class="meta_data">2</td>
                        <td class="raw_receipt">2</td>
                        <td class="parsed_info">2</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
{{end}}